# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore application configuration
/config/application.yml

# Ignore node modules
node_modules

# Ignore bundle
bundle.js
bundle.js.map

# Ignore DS_Store
.DS_Store

# Ignore byebug_history
.byebug_history
