.main {
  float: left;
  display: block;
  width: 620px;
}

.user-generated-form {
  padding: 10px 20px;
  float: left;
}

.user-generated-form-head {
  margin-bottom: 30px;
}

.user-form-title {
  margin-bottom: 10px;
}

.user-form-description {
  padding-bottom: 10px;
  border-bottom: 1px dotted grey;
}

.user-fields-ul {
  list-style: none;
}

.user-form-field-input {
  margin-bottom: 10px;
}

.user-form-field-label {
  margin-bottom: 5px;
}

.user-form-field {
  padding: 5px;
}

.user-form-field:hover {
  border: 1px dotted grey;
}
