.stage {
  display: block;
  background: #FFF;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.settings-pane {
  height: auto;
  min-height: 500px;
  width: 370px;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #E7FFCF;
  border-right: 1px solid #C2EF95;
  border-top: 1px solid #C2EF95;
  padding-left: 5px;
}

.form-settings-label {
  color: #333;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  line-height: 150%;
  margin: 0;
  padding: 0 0 3px 0;
  border: none;
  display: block;
  white-space: normal;
  width: 100%;
}

.form-settings-input-text {
  width: 70%;
  min-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
}

.form-settings-input-textarea {
  width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  height: 5em;
}

.form-settings-radio span {
  font-size: 11px;
}

.form-settings-button {
  font-weight: bold;
  display: inline-block;
  margin: 0 .7em 0 0;
  padding: 5px 10px 6px 10px;
  border: 1px solid #dedede;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bfbfbf;
  display: block;
  color: #63A142;
  border-radius: 11px;
  background-color: #FFF;
}

.form-settings-button:hover {
  box-shadow: rgba(0,0,0,0.25) 1px 1px 3px;
}

.add-field-button:hover {
  background: #DFEEA3;
  border: 1px solid #C6D880;
}

.add-field-button {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  border-radius: 9px;
  font-size: 95%;
  text-align: center;
  padding: 4px 0 4px 34px;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  margin:5px;
  width: 100px;
}
