.body {
  width: 100%;
  margin: 17px 0 0 0;
  text-align: center;
  font-size: small;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
  letter-spacing: .01em;
}

.head-nav {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.stage {
  display: block;
  padding: 25px 20px 12px 20px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
}

.forms-container {
  width: 1200px;
  margin: 0 auto 10px auto;
  position: relative;
  text-align: left;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  border-radius: 5px;
}

.stage-info {
  border: none;
  margin: 0;
  padding: 0 0 1.1em;
  display: block;
  clear: both;
}

.side {
  background-color: #FDFDED;
  border: 1px solid #EFD586;
  border-radius: 7px;
  height: auto;
  min-height: 700px;
  width: 370px;
  float: left;
  display: block;
}

.settings-pane {
  height: 800px;
  min-height: 500px;
  float: left;
  width: 370px;
  margin: 0;
  background-color: #E7FFCF;
  border-right: 1px solid #C2EF95;
  border-top: 1px solid #C2EF95;
  border-bottom: 1px solid #C2EF95;
  padding-left: 5px;
  border-bottom-left-radius: 5px;
}

.form-settings-pane {
  height: 100%;
  clear: both;
  width: 338px;
  padding: 15px 12px 15px 19px;
}

.form-builder-heading {
  margin: 26px 26px;
  font-weight: bold;
  font-size: 20px;
}

.form-settings-label {
  color: #333;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 0 0 3px 0;
  border: none;
  display: block;
  white-space: normal;
  width: 100%;
}

.form-settings-input-text {
  width: 70%;
  min-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  font-family: Arial;
}

.form-settings-input-textarea {
  width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  height: 5em;
  text-align: justify;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
}

.form-settings-radio span {
  font-size: 11px;
}

.form-settings-button {
  font-weight: bold;
  display: block;
  margin-left: 35%;
  padding: 5px 10px 6px 10px;
  border: 1px solid #dedede;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bfbfbf;
  display: block;
  color: #63A142;
  border-radius: 11px;
  background-color: #FFF;
  cursor: pointer;
}

.form-settings-button:hover {
  box-shadow: rgba(0,0,0,0.25) 1px 1px 3px;
}

.add-field-button-section {
  padding: 10px;
}

.add-field-button:hover {
  background: #DFEEA3;
  border: 1px solid #C6D880;
}

.add-field-blue-header {
  font-size: 12px;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 15px;
  color: #236ABF;
}

.add-field-button {
  font-size: 90%;
  text-align: center;
  padding: 5px;
  display: inline-block;
  position: relative;
  background-color: #FFF;
  margin:5px;
  width: 150px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  border-radius: 9px;
  background-clip: padding-box;
}

.privacy-fieldset {
  background: #D8EFB3;
  width: 93%;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 3px 0 10px 0;
  border: none;
  color: #333;
  position: relative;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.privacy-legend {
  background: #D8EFB3;
  padding: 4px 7px 4px 10px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  line-height: 150%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.radio-label {
  font-size: 12px;
}

.nothing-to-see {
  background-color: #FBFFCF;
  border-top: 1px solid #EBEFC2;
  border-left: 1px solid #EBEFC2;
  border-bottom: 1px solid #D9DF99;
  border-right: 1px solid #D9DF99;
  border-radius: 15px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
}

.nothing-to-see > h1 {
  font-size: 12px;
}

.field-settings-label {
  color: #333;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 0 0 3px 0;
  border: none;
  display: block;
  white-space: normal;
  width: 100%;
}

.field-settings-input {
  width: 70%;
  min-width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
}

.field-settings-textarea {
  width: 90%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  height: 5em;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
}

.field-settings-button {
  font-weight: bold;
  display: inline-block;
  margin-left: 50px;
  padding: 5px 10px 6px 10px;
  border: 1px solid #dedede;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bfbfbf;
  color: #63A142;
  border-radius: 11px;
  background-color: #FFF;
  cursor: pointer;
}

.field-settings-button:hover {
  box-shadow: rgba(0,0,0,0.25) 1px 1px 3px;
}

.empty-treasure-image {
  margin-left: 30%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.choices-fieldset {
  background: #D8EFB3;
  width: 93%;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 3px 0 10px 0;
  border: none;
  color: #333;
  position: relative;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.choices-legend {
  background: #D8EFB3;
  padding: 4px 7px 4px 10px;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  line-height: 150%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.choices-ul {
  list-style: none;
}

.choice-li {
  padding-left: 10px;
  margin-bottom: 7px;
}

.choice-input {
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 0;
  border-radius: 7px;
  width: 80%;
}

.green-plus {
  vertical-align: bottom;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.lonely-green-plus {
  vertical-align: middle;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.red-minus {
  vertical-align: middle;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.button-block {
  display: inline-block;
  vertical-align: middle;
}

.margin-top {
  margin-top: 10px;
}

.password-button {
  background-color: #d3d3d3;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 108px;
}

.password-button:hover {
  opacity: 0.75;
}

.updated {
  margin-left: 117px;
  color: #008000;
}
