body, div, h1, p, a, ul, li, form, label, br, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  background: #eee;
}

.group {
  display: block;
  clear: both;
  content: "";
}

div {
  font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
}
