.search-content {
  padding: 0 0 10px 0;
  border-radius: 5px;
  background: #E5F0FF;
  border: 1px solid #D5DFED;
  margin: 0 auto;
  width: 900px;
  height: 400px;
  overflow: auto;
}

.search-section {
  background: #B3D7FF;
  color: #152531;
  padding: 12px;
  font-size: 100%;
  font-weight: bold;
  text-align: right;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: auto;
  box-sizing: content-box;
}

.search-label {
  display: inline-block;
  width: 300px;
}

.search-input {
  display: inline-block;
  margin-left: 20px;
  height: 20px;
}

.forms-list {
  list-style: none;
}

.form-lis {
  position: relative;
  padding: 4px 0 4px 0;
}

.li-holder {
  box-sizing: content-box;
  position: relative;
  padding: 0 20px 10px 20px;
  background-color: white;
  border-radius: 5px;
  width: 800px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.li-form-title {
  float: left;
  display: block;
  padding-top: 10px;
  margin: 0;
  font-size: 15px;
}

.li-form-title:hover {
  opacity: 0.5;
}

.li-ul {
  box-sizing: content-box;
  list-style: none;
  display: inline-block;
  vertical-align: center;
  margin-top: 10px;
  position: relative;
  margin-right: 10px;
}

.li-buttons {
  display: inline-block;
}

.form-search-li-button {
  font-size: small;
  color: #0000c1;
  text-decoration: none;
  margin-left: 30px;
  cursor: pointer;
  font-weight: bold;
}

.privacy-image {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.form-search-li-button:hover {
  opacity: 0.5;
}
