.signup {
  height: 1000px;
  background-color: #f0f8ff;
}

.signup-section {
  width: 900px;
  margin: 0 auto;
  padding-top: 100px;
  padding: 100px;
}

.signup-header {
  text-align: center;
  margin-bottom: 30px;
}

.signup-form {
  padding: 50px;
  width: 600px;
  margin: 0 100px;
  background-color: white;
  border: 1px solid #ede8e8;
  border-radius: 5px;
}

.signup-label {
  display: block;
  margin-bottom: 10px;
  margin-left: 50px;
}

.signup-input {
  display: block;
  width: 500px;
  margin-top: 10px;
  height: 2.5em;
  border: 1px solid #ede8e8;
}

.signup-input:focus {
  border: 1px solid #69C5E4;
}

.signup-button {
  display: inline-block;
  padding: 12px 32px;
  text-align: center;
  width: 440px;
  background-color: #61e064;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #4cdc4f;
}

.errors {
  color: red;
  list-style: none;
  margin: 10px auto;
  text-align: center;

}
